services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: events_user
      POSTGRES_PASSWORD: eventspassword
      POSTGRES_DB: events_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

volumes:
  postgres_data: